/* Estilo para el botón en la parte superior */
.mlr-toggle-button {
    display: block;
    margin-bottom: 20px; /* Espacio debajo del botón */
    padding: 10px 15px;
    background-color: #0073aa; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.mlr-toggle-button:hover {
    background-color: #005177; /* Color al pasar el mouse */
}

/* Aseguramos que las imágenes se ajusten bien */
.mlr-summary img, .mlr-full-content img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Estilo para el resumen */
.mlr-summary {
    margin-bottom: 20px;
}

/* Ocultamos el contenido completo inicialmente */
.mlr-full-content {
    display: none;
}
